@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes blick {
    0% {
    text-shadow: 0 0 0;
    }
    100% {
    text-shadow: 0 0 15px rgb(255, 19, 19), 0 0 25px rgb(255, 145, 145), 0 0 35px rgb(255, 145, 145), 0 0 15px rgb(255, 19, 19), 0 0 25px rgb(255, 145, 145), 0 0 35px rgb(255, 145, 145);
    }
}
@keyframes size {
    0% {
        text-shadow: 0 0 0;
        scale: 1.0;
    }
    100% {
        text-shadow: 0 0 15px rgb(255, 19, 19), 0 0 25px rgb(255, 145, 145), 0 0 35px rgb(255, 145, 145), 0 0 15px rgb(255, 19, 19), 0 0 25px rgb(255, 145, 145), 0 0 35px rgb(255, 145, 145);
        scale: 1.1;
    }
}

body {
/* Frame 1 */

position: relative;
width: 390px;
height: 844px;

background: #FDCECF;
  margin: 0;
  padding: 0;

}

.me {
/* Rectangle 1 */

position: relative;
width: 505px;
height: 843px;
margin: 0px;

background: url(photo_2026-01-17_16-21-42.jpg);
filter: blur(3px);

z-index: -5;
}
.polosa {
    position: absolute;
    width: 505px;
    height: 20px;
    top: 50%;
    background-color: rgb(252, 98, 98)
}
.polosa1 {
    position: absolute;
    width: 20px;
    height: 843px;
    top: 0px;
    left: 252.5px;
    background-color: rgb(252, 98, 98)
}
.bant {
    position: absolute;
    width: 190px;
    top: 365px;
    left: 167px;
    filter: blur(1px);
}
.zp {
    position: absolute;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    color: white;
    text-shadow: 0 0 15px rgb(255, 107, 107), 0 0 25px rgb(255, 145, 145), 0 0 35px rgb(255, 145, 145);

    left: 35%;
    top: 45%;

    width: 250px;
    height: 250px;

    animation: blick .8s ease-in-out infinite alternate;
    transition: text-shadow 1s inherit;
}
.open {
    position: absolute;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    color: white;
    text-decoration: none;
    background-color: pink;
    border-radius: 5px;

    width: 285px;

    top: 600px;
    left: 120px;

    animation: size .7s ease-in-out infinite alternate;
    transition: text-shadow 1s inherit;
}
